[submodule "apache/airflow"]
	path = apache/airflow
	url = https://github.com/apache/airflow
[submodule "godatadriven/airflow-helm"]
	path = godatadriven/airflow-helm
	url = https://github.com/godatadriven/airflow-helm.git
[submodule "docker-airflow"]
	path = docker-airflow
	url = https://github.com/puckel/docker-airflow.git
